*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
html,body{
    height: 100vh;
    width: 100vw;
    // background: rgb(2,0,36);
    // background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,17,121,1) 65%, rgba(0,86,255,0.41780462184873945) 100%);
}
main {
    width: 100%;
}
.mt-1{
    margin-top: 5px;
}
.mt-5{
    margin-top: 10px;
}
.mb-1{
    margin-bottom: 5px;
}
.mb-5{
    margin-bottom: 20px;
}
